.App {
  padding: 50px;
}

.data-form-container {
  padding: 20px;
}

.data-form,
.result-table-columns {
  display: flex;
  flex-direction: row;
}

.data-form {
  margin-bottom: 30px;
}

.data-form div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.data-form input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.data-form button {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.lable-text {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.table-column {
  width: 170px;
  text-align: center;
}

.result-table-border {
  width: 520px;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}